<!DOCTYPE html>
<html class="{{htmlclass}}">
  <head>
    {{#block "head"}}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {{#if title}}
        <title>{{title}} - Drizzle</title>
      {{else if name}}
        <title>{{name}} - Drizzle</title>
      {{else}}
        <title>Drizzle</title>
      {{/if}}
      {{#each styles}}
        <link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/{{this}}.css">
      {{/each}}
    {{/block}}
  </head>
  {{#block "wrapper"}}
    <body>
      {{#block "body"}}

      {{/block}}
    </body>
  {{/block}}
</html>
