<!DOCTYPE html>
<html class="{{htmlclass}}">
  <head>
    {{#block "head"}}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {{#if title}}
        <title>{{title}} - {{data "project.title"}}</title>
      {{else if name}}
        <title>{{name}} - {{data "project.title"}}</title>
      {{else}}
        <title>{{data "project.title"}}</title>
      {{/if}}
      {{#each styles}}
        <link rel="stylesheet" href="{{@root.baseurl}}/assets/toolkit/styles/{{this}}.css">
      {{/each}}
    {{/block}}
  </head>
  <body class="{{bodyclass}}">
    {{#block "body"}}
      {{#block "main"}}

      {{/block}}
    {{/block}}
    {{#block "foot"}}

    {{/block}}
  </body>
</html>
