<div class="drizzle-Layout-nav drizzle-Nav" id="nav">
  <div class="drizzle-Nav-header">
    <a href="/" class="drizzle-u-flex drizzle-u-flexAlignItemsCenter">
      {{> drizzle.logo}}
    </a>
    <a class="drizzle-Nav-header-toggle" href="#nav">
      <svg viewBox="-1 -1 12 7" width="16" height="16">
        <polyline fill="none" stroke="currentColor" stroke-width="2" points="0 0 5 5 10 0"/>
      </svg>
    </a>
  </div>
  <div class="drizzle-Nav-main">
    <ul class="drizzle-Nav-menu" id="nav-menu">
      {{!-- WIP tree usage
      <!--
      {
        pages: {
          children: [
            [Object],
            [Object]
          ],
          items: [
            [Object]
          ]
        },
        collections: {
          children: [
            [Object],
            [Object]
          ]
        }
      }
      -->
      {{#with drizzle.tree}}
        {{#each pages.items}}
          {{log path}}
        {{/each}}
        {{#each collections.children}}
          {{#each items}}
            {{log path}}
          {{/each}}
        {{/each}}
        {{#each pages.children}}
          {{#each items}}
            {{log path}}
          {{/each}}
        {{/each}}
      {{/with}}
      --}}

      {{!-- Top-level pages --}}
      {{#each drizzle.pages}}
        {{#if contents}}
          <li>
            <a class="drizzle-Nav-item" href="/{{@key}}.html">
              {{data.title}}
            </a>
          </li>
        {{/if}}
      {{/each}}
      {{!-- Patterns --}}
      {{#each drizzle.patterns}}
        <li>
          <a class="drizzle-Nav-item" href="/patterns/{{@key}}.html">
            {{collection.name}}
          </a>
        </li>
      {{/each}}
      {{!-- Demo pages --}}
      {{#with drizzle.pages.demos}}
        <li>
          <a class="drizzle-Nav-item" href="/demos/index.html">
            {{index.data.title}}
          </a>
          <ul class="drizzle-Nav-menu">
            {{#each this}}
              {{#compare @key "!==" "index"}}
                <li>
                  <a class="drizzle-Nav-item" href="/demos/{{@key}}.html">
                    {{data.title}}
                  </a>
                </li>
              {{/compare}}
            {{/each}}
          </ul>
        </li>
      {{/with}}
      {{!-- Docs pages --}}
      {{#with drizzle.pages.docs}}
        <li>
          <a class="drizzle-Nav-item" href="/docs/index.html">
            {{index.data.title}}
          </a>
          <ul class="drizzle-Nav-menu">
            {{#each this}}
              {{#compare @key "!==" "index"}}
                <li>
                  <a class="drizzle-Nav-item" href="/docs/{{@key}}.html">
                    {{data.title}}
                  </a>
                </li>
              {{/compare}}
            {{/each}}
          </ul>
        </li>
      {{/with}}
    </ul>
  </div>
</div>
