---
title: Overview
order: 1
---

<h1>{{title}}</h1>

<p>
  This UI toolkit is a highly-modular design system for rapid web page
  development. It contains different materials that can be assembled into more
  complex page layouts. It includes working examples, code snippets and
  documentation.
</p>

<h3>Some Pages</h3>

<dl>
  {{#with (page "colors")}}
    <dt>
      <a href="{{@root.baseurl}}/{{url}}">{{data.title}}</a>
    </dt>
    <dd class="drizzle-u-padBottom">
      {{{data.notes}}}
    </dd>
  {{/with}}

  {{#with (page "docs/index")}}
    <dt>
      <a href="{{@root.baseurl}}/{{url}}">{{data.title}}</a>
    </dt>
    <dd class="drizzle-u-padBottom">
      {{{data.notes}}}
    </dd>
  {{/with}}

  {{#with (page "demos/index")}}
    <dt>
      <a href="{{@root.baseurl}}/{{url}}">{{data.title}}</a>
    </dt>
    <dd class="drizzle-u-padBottom">
      {{{data.notes}}}
    </dd>
  {{/with}}
</dl>
