---
title: Overview
---

<h1>{{title}}</h1>

<p>
  This UI toolkit is a highly-modular design system for rapid web page
  development. It contains different materials that can be assembled into more
  complex page layouts. It includes working examples, code snippets and
  documentation.
</p>

<h3>Sections</h3>
<dl>
  <dt><a href="{{@root.baseurl}}/patterns/typography.html">Typography</a></dt>
  <dd class="drizzle-u-padBottom">
    Examples of foundational typographic elements like headings, paragraphs
    and lists.
  </dd>
  <dt><a href="{{@root.baseurl}}/docs">Docs</a></dt>
  <dd class="drizzle-u-padBottom">
    General documentation of naming conventions and template usage.
  </dd>
  <dt><a href="{{@root.baseurl}}/demos">Demos</a></dt>
  <dd class="drizzle-u-padBottom">
    A collection of mockups, demonstrations, proofs-of-concept or
    anything else that might not be production-ready.
  </dd>
</dl>

<h3>Colors</h3>

{{#each (data "colors")}}
  <h4 class="drizzle-u-capitalize">{{@key}}</h4>
  <ul class="drizzle-u-listInline">
    {{#each this}}
      <li class="drizzle-u-marginBottom">
        {{> drizzle.swatch }}
      </li>
    {{/each}}
  </ul>
{{/each}}
